extends ../templates/header3.pug

block main
    section.main-page-content
        p Welcome to PhotoShare!
        div.main-page_buttons
            a.shiny-B(href="/login") Login
            a.shiny-B(href="/register") Register
