extends ../templates/header3.pug

block main
    if error_msg != ''
        div#flash-msg.error_msg
            p=error_msg
            span#flash-X &#10006;
    form.register-form(action="register" method="POST")
        p.register-form-title Registro
            div.register-form-inputs-division
                label.register-form_labels(for="username") Nombre de usuario
                input.register-form_input-text(type="text" placeholder="" name="username")
                label.register-form_labels(for="email") Correo Electronico
                input.register-form_input-text(type="email" placeholder="" name="email")
                label.register-form_labels(for="password") Contraseña
                input.register-form_input-text(type="password" placeholder="" name="password")
                label.register-form_labels(for="confirm_password") Confirmar Contraseña
                input.register-form_input-text(type="password" placeholder="" name="confirm_password")
                button.register-form_button.shiny-B(type="submit") Crear Cuenta
    script(src="/scripts/flash-msg.js")