<!-- FOR HOME PAGE-->
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/reset.css")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/effects.css")
    body.background3
        header.template-header
            img.template-logo(src="/img/logo.png" href="/" alt="PhotoShare")
            nav.template-nav
                a(href="/") Home
                a(href="/login") Login
                a(href="/register") Register
        block main